<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{> title}}</title>
  <meta name="description" content="{{pagedescription}}">

  <meta name="viewport" content="width=device-width">
  <!-- html5 boilerplate css -->
  <link rel="stylesheet" href="/_themes/libs/h5bp.css">
  <link rel="stylesheet" href="/_themes/{{theme_dir}}/css/site.css">

  <script src="/_themes/libs/modernizr.js"></script>
</head>
<body>
  <div id="header">
    {{> header}}
  </div>
  <div id="main" role="main">
    {{> main}}
  </div>
  <div id="footer">
    {{> footer}}
  </div>

  <script src="/_themes/libs/jquery.min.js"></script>

  <script src="/_themes/{{theme_dir}}/js/site.js"></script>

</body>
</html>
